*{
    margin: 0;
    padding: 0;
}

body{
    color: white;
    background-image: url('img/bg.jpg');
}

.left{
    border: 2px solid red;
    display: inline-block;
}
.mid{
    border: 2px solid green;
    
}
.right{
    display: inline-block;
    border: 2px solid yellow;
}